<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style_dph.css">
    <title>Data Tanaman Hortikultura</title>
</head>
<body>
    <nav class="navigation">
        <a href="../../index.html">Kembali Ke Portofolio</a>
        <a href="index_dph.html">BERANDA</a>
        <a href="diagnosis_dph.html">DIAGNOSIS</a>
        <a href="data_dph.html">BASIS PENGETAHUAN</a>
    </nav>

    <h1>Data Gejala Rule Penyakit dan Solusi</h1>
    <h2>Data Tanaman:</h2>
    <ul class="tanaman">
        <li>Cabai</li>
        <li>Kentang</li>
        <li>Wortel</li>
    </ul>
    <h2>Data Gejala:</h2>
    <ul class="gejala">
        <li> (Cabai) Daun mengalami kelayuan</li>
        <li> (Cabai) Daun menguning dan menjalar ke ranting</li>
        <li> (Cabai) Warna jaringan akar dan batang menjadi coklat</li>
        <li> (Cabai) Layu secara tiba-tiba</li>
        <li> (Cabai) Semua daun layu tetapi tidak berubah warna</li>
        <li> (Cabai) Jaringan veskuler dari batang bagian bawah akar coklat</li>
        <li> (Cabai) Munculnya bercak pada buah yang agak mengkilap</li>
        <li> (Cabai) Seluruh buah keriput dan mengering</li>
        <li> (Cabai) Warna kulit buah seperti jerami padi</li>
        <li> (Cabai) Pucuk daun berubah menjadi kuning jelas</li>
        <li> (Cabai) Tulang daun menebal dan daun menggulung ke atas</li>
        <li> (Cabai) Tanaman kerdil dan tidak berbuah</li>
        <li> (Cabai) Muncul bercak bulat berwarna coklat pada daun dan kering</li>
        <li> (Cabai) Bercak berwarna pucat putih dengan warna tepi lebih tua</li>
        <li> (Cabai) Terdapat lubang pada bercak tua</li>
        <li> (Kentang) Timbul bercak-bercak basah pada bagian tepi daun atau tengah daun</li>
        <li> (Kentang) Warna bercak-bercak berubah menjadi coklat sampai hitam, selanjutnya daun akan membusuk dan mati</li>
        <li> (Kentang) Daun-daun menjadi layu yang dimulai dari daun muda atau pucuk, dan daun bagian bawah menguning</li>
        <li> (Kentang) Pembuluh pada pangkal batang berwarna coklat, dan bila ditekan akan keluar lendir yang berwana abu-abu keruh</li>
        <li> (Kentang) Penyakit sampai ke umbi dengan gejala bercak yang berwarna coklat sampai hitam pada bagian ujung umbi</li>
        <li> (Kentang) Daun menguning dan menggulung lalu layu dan kering</li>
        <li> (Kentang) Pada bagian umbi tedapat bercakbercak berwana coklat</li>
        <li> (Kentang) Infeksi akan menyebabkan akar dan umbi mudah busuk</li>
        <li> (Kentang) Daun-daun yang sakit menggulung ke atas</li>
        <li> (Kentang) Dari tepi ke arah ibu tulang, kadangkadang menyerupai tabung, jika di pegang daun terasa lebih kaku</li>
        <li> (Kentang) Secara keseluruhan warna daun tanaman sakit lebih pucat, kurus, dan tegak dari pada daun sehat, dan umbi yang dihasilkan berukuran lebih kecil</li>
        <li> (Kentang) Daun terinfeksi berbercak kecil yang tersebar tidak teratur</li>
        <li> (Kentang) Daun berwarna coklat tua lalu meluas ke daun muda</li>
        <li> (Kentang) Permukaan kulit umbi berbercak gelap</li>
        <li> (Wortel) Umbi membusuk</li>
        <li> (Wortel) Warna umbi pucat</li>
        <li> (Wortel) Tanaman menjadi kerdil</li>
        <li> (Wortel) Kecacatan pada wortel</li>
        <li> (Wortel) Terdapat bercak-bercak</li>
        <li> (Wortel) Terdapat bintik-bintik</li>
        <li> (Wortel) Daun mengkriting</li>
        <li> (Wortel) Daun berlubang</li>
        <li> (Wortel) Umbian rusak</li>
        <li> (Wortel) Tanah menguning</li>
        <li> (Wortel) Daun tampak layu</li>
        <li> (Wortel) Daun kering</li>
        <li> (Wortel) Warna umbi pucat</li>
        <li> (Wortel) Pucuk menguning</li>
    </ul>
    <h2>Data Penyakit:</h2>
        <ul class="data_penyakit">
        <li>Cabai P01 - Layu Fusarium (Fusarium Oxysporum. Sp)</li>
            <p>Gejala: Daun mengalami kelayuan, Daun menguning dan menjalar ke ranting, Warna jaringan akar dan batang menjadi coklat.</p>
            <p>Solusi: Sanitasi dengan mencabut dan memusnahkan tanaman terserang.</p>
        <li>Cabai P02 - Penyakit Layu Bakteri Ralstonia (Ralstonia solanacearum)</li>
            <p>Gejala: Layu secara tiba-tiba, Semua daun layu tetapi tidak berubah warna, Jaringan veskuler dari batang bagian bawah akar coklat</p>
            <p>Solusi: Kultur teknis dengan pergiliran tanaman, penggunaan benih sehat.</p>
        <li>Cabai P03 - Penyakit Busuk Buah Antraknosa(Collectrotichum gloeospoiroides)</li>
            <p>Gejala: Munculnya bercak pada buah yang agak mengkilap, Seluruh buah keriput dan mengering, Warna kulit buah seperti jerami padi.</p>
            <p>Solusi: Pencegahan dapat dilakukan dengan membersihkan lahan dan tanaman yang terserangagar tidak menyebar. Seleksi benih atau menggunakan benih cabai yang tahan terhadap penyakit ini perlu dilakukan mengingat penyakit ini termasuk patogen tular benih.Kultur teknis dengan pergiliran tanaman, penggunaan benih sehat dan sanitasi dengan memotong dan memusnahkan buah yang sakit. Penggunaan fungsi dan sesuai anjuran sebagai alternatif terakhir. Hindari penggunaan alat semprot, atau lakukan sanitasi terlebih dahulu sebelum menggunakan alat semprot.</p>
        <li>Cabai P04 - Penyakit Virus kuning (Gemini Virus)</li>
            <p>Gejala: Pucuk daun berubah menjadi kuning jelas, Tulang daun menebal dan daun menggulung ke atas, Tanaman kerdil dan tidak berbuah.</p>
            <p>Solusi: Mengendalikan serangga vector virus kuning yaitu kutu kebul (Bemisia tabaci) dengan menggunakan musuh alami predator seperti Menochilus sexmaculatus atau jamur patogen serangga seperti Beauveria bassiana atau Verticilliumlecani. Penanaman varietas tahan sepertihotchilli. Melakukan sanitasi lingkungan terutama tanaman inang seperti ciplukan, terong, gulma bunga kancing. Pemupukan tambahan untuk meningkatkan daya tahan tanaman sehingga tanaman tetap berproduksi walaupun terserang virus kuning. Kultur teknik yang meliputi : perendaman benih, penggunaan mulsa plastik (untuk menekan gulma inang, populasi vektor, menunda perkembangan virus). Penanaman tanaman pembatas seperti jagung dan tagetes.</p>
        <li>Cabai P05 - Penyakit bercak daun (Cercospora sp.)</li>
            <p>Gejala: Muncul bercak bulat berwarna coklat pada daun dan kering, Bercak berwarna pucat putih dengan warna tepi lebih tua, Terdapat lubang pada bercak tua</p>
            <p>Solusi: Sanitasi dengan cara memusnahkan dan atau sisasisa tanaman yang terinfeksi/terserang Menanam bibit yang bebas pathogen pada lahan yang tidak terkontaminasi oleh patogen, baik dipersemaian maupun di lapangan Perlakuan benih sebelum tanam Perbaikan drainase. Waktu tanam yang tepat adalah musim kemarau dengan irigasi yang baik dan pergiliran tanaman dengan tanaman non solanaceae. Pengendalian kimia dapat dilakukan dengan fungisida secara bijaksana, efektif, terdaftar dan diijinkan oleh Menteri Pertanian, berpedoman pada peramalan cuaca dan populasi spora dilapangan.</p>
        <li>Kentang P06 - Penyakit busuk daun</li>
            <p>Gejala: Timbul bercak-bercak basah pada bagian tepi daun atau tengah daun, Warna bercak-bercak berubah menjadi coklat sampai hitam, selanjutnya daun akan membusuk dan mati</p>
            <p>Solusi: Memetik bagian tanaman yang terdapat serangan awal penyakit busuk daun dan musnahkan/dikubur, menggunakan musuh alami berupa patogen, Bibit kentang dicelupkan ke dalam larutan agen hayati Pseudomonas flourescens penyemprotan Fungisida Manteau 80 WP atau Klorotalonil (Qiunil 75 WP).</p>
        <li>Kentang P07 - Penyakit Layu Bakteri (Ralstonia Solanacearum)</li>
            <p>Gejala: Daun-daun menjadi layu yang dimulai dari daun muda atau pucuk, dan daun bagian bawah menguning, Pembuluh pada pangkal batang berwarna coklat, dan bila ditekan akan keluar lendir yang berwana abu-abu keruh, Penyakit sampai ke umbi dengan gejala bercak yang berwarna coklat sampai hitam pada bagian ujung umbi.</p>
            <p>Solusi: melakukan sanitasi kebun, pergiliran tanaman, penurunan pH tanah dengan memberi perlakuan belerang, menggunakan pestisida kimia yang berbahan aktif streptomisin sulfat.</p>
        <li>Kentang P08 - Penyakit Busuk Umbi</li>
            <p>Gejala: Daun menguning dan menggulung lalu layu dan kering, Pada bagian umbi tedapat bercakbercak berwana coklat, Infeksi akan menyebabkan akar dan umbi mudah busuk.</p>
            <p>Solusi: Pemanfaatan alternatif hayati sebagai mikroganisme antagonis seperti Jamur endofit, Mikroba selulolitik indigenos, Trichoderma spp, bakteri Bacillus subtilis dan Pseudomonas fluorescens. Pemupukan dan Penyemprotan.</p>
        <li>Kentang P09 - Penyakit Daun Menggulung</li>
            <p>Gejala: Daun-daun yang sakit menggulung ke atas, Dari tepi ke arah ibu tulang, kadangkadang menyerupai tabung, jika di pegang daun terasa lebih kaku, Secara keseluruhan warna daun tanaman sakit lebih pucat, kurus, dan tegak dari pada daun sehat, dan umbi yang dihasilkan berukuran lebih kecil.</p>
            <p>Solusi: Celupkan bibit kentang pada insektisida neonicotinyl, membuang tanaman yang terinfeksi virus, pembersuhan gulma dan tanam bibit kentang yang bersertifikasi teruji terhadao virus.</p>
        <li>Kentang P10 - Penyakit Bercak Kering (Eraly Blight)</li>
            <p>Gejala: Daun terinfeksi berbercak kecil yang tersebar tidak teratur, Daun berwarna coklat tua lalu meluas ke daun muda, Permukaan kulit umbi berbercak gelap.</p>
            <p>Solusi: Menghindari lahan yang pernah terserang penyakit bercak daun. Penggiliran tanaman, setelah ditanami kentang lalu ditanami jagung atau tanaman lain. Penyemprotan fungisida Cabrio 250 EC pada 30-60 HST atau fase vegetatif hingga pembentukan umbi.</p>
        <li>Wortel P11 - Oidium/Embun Tepung</li>
            <p>Gejala: Umbi membusuk, Warna umbi pucat, Tanaman menjadi kerdil, Kecacatan pada wortel.</p>
            <p>Solusi: Batasi penyebaran embun tepung, pada gejala pertama, den gan mencubit semua bagian yang terkena. Obati dengan sulphur ketika suhu nya antara 15 dan 28° C. Fungisida ini juga bertindak secara preventif.</p>
        <li>Wortel P12 - Bercak Daun</li>
            <p>Gejala: Terdapat bercak-bercak, Terdapat bintik-bintik, Daun mengkriting, Daun berlubang.</p>
            <p>Solusi: Disinfeksi benih dengan menggunakan larutan fungisida dengan kandungan tembaga klorida 1/ml selama 5 menit, pergiliran tanam dengan tanaman yang bukan sefamili dengan wortel, membersihkan sisa tanaman sekitar kebun, penyemprotan fungisida misalnya dengan Dithane M-45 0,2%.</p>
        <li>Wortel P13 - Nemotoda Bintil Akar</li>
            <p>Gejala: Umbian rusak, Tanah menguning, Daun tampak layu</p>
            <p>Solusi: Lakukan pengolahan tanah dengan baik, gunakan GDM Black BOS saat mengolah tanah, karena GDM Black BOS mengandung bakteri yang mampu mencegah serangan nematoda, sehingga akar dapat menyerap unsur hara dengan baik, jaga sanitasi tanah agar nematoda tidak berkembang semakin luas.</p>
        <li>Wortel P14 - Busuk Alternatia</li>
            <p>Gejala: Daun kering, Warna umbi pucat, Pucuk menguning.</p>
            <p>Solusi: Lakukan sanitasi kebun atau lahan, serta sebelum disemai, rendam benih dengan larutan fungisida. Cara kimia bias anda lakukan dengan melakukan penyemprotan fungisida berupa Dithane sesuai dengan dosis atau petunjuk.</p>
    </ul>

</body>
</html>
