<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style_dph.css">
    <title>Dashboard - Diagnosis Penyakit Tumbuhan</title>
</head>
<body>
    <header>
        <nav class="navigation">
            <a href="../../index.html">Kembali Ke Portofolio</a>
            <a href="index_dph.html">BERANDA</a>
            <a href="diagnosis_dph.html">DIAGNOSIS</a>
            <a href="data_dph.html">BASIS PENGETAHUAN</a>
        </nav>
    </header>

    <main class="content">
        <section class="intro">
            <h1>Selamat Datang di Aplikasi Diagnosis Penyakit Tumbuhan Hortikultura</h1>
            <p>Menggunakan metode Sistem Pakar Forward Chaining untuk mendeteksi penyakit pada tanaman hortikultura.</p>
        </section>

        <section class="info">
            <h2>Tanaman Hortikultura</h2>
            <p>Tanaman hortikultura mencakup berbagai jenis tanaman yang dibudidayakan untuk keperluan pangan, obat, atau hiasan. Beberapa contoh tanaman hortikultura adalah:</p>
            <div class="plants">
                <img src="../../static/img/dph/tanaman hortikultura.jpg" alt="Tanaman Hortikultura" class="plant-image">
                <p>Tanaman Hortikultura yang sering dijumpai di kebun atau pertanian lokal.</p>
            </div>

            <h2>Metode Sistem Pakar Forward Chaining</h2>
            <p>Forward chaining adalah metode yang digunakan dalam sistem pakar yang bekerja dengan cara menganalisis data secara bertahap mulai dari fakta-fakta yang sudah ada untuk sampai pada kesimpulan.</p>
            <img src="../../static/img/dph/sistem pakar.png" alt="Forward Chaining" class="method-image">
        </section>
    </main>

</body>
</html>
