<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selamat Datang</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/style_kp.css">
</head>
<body>
    <div class="container mt-5">
        <!-- Hamburger Menu -->
        <button id="hamburger">&#9776;</button>

        <nav class="navigation">
            <a href="../../index.html">🏠 Kembali Ke Portofolio</a>
            <a href="index_kp.html">🏠 Beranda</a>
            <a href="prediksi_kp.html">📊 Prediksi Kangker Payudara</a>
            <a href="informasi_kp.html">📊 Informasi Model</a>
        </nav>

        <h1 class="mt-5">🎗 Selamat Datang di Sistem Klasifikasi Kanker Payudara</h1>
        <p class="lead">Analisis data kanker payudara dengan metode Machine Learning Algoritma Support Vector Machine (SVM) untuk membantu diagnosa Kanker Payudara.</p>
    </div>

    <script src="../../static/js/script_kp.js"></script>
</body>
</html>
