<!DOCTYPE html>
<html lang="id">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QFW93YZT21"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-QFW93YZT21');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediksi Kanker Payudara</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/style_kp.css">
</head>
<body>
    <div class="container mt-5">
        <!-- Hamburger Menu -->
        <button id="hamburger">&#9776;</button>

        <nav class="navigation">
            <a href="../../index.html">🏠 Kembali Ke Portofolio</a>
            <a href="index_kp.html">🏠 Beranda</a>
            <a href="prediksi_kp.html">📊 Prediksi Kangker Payudara</a>
            <a href="informasi_kp.html">📊 Informasi Model</a>
        </nav>

    <h1 class="text-center">🔬 Prediksi Kanker Payudara</h1>
    
    <form class="mt-4">
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Perimeter Worst</label>
                <input type="number" step="0.0001" min="0" class="form-control" name="{{ feature }}" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Radius Worst</label>
                <input type="number" step="0.0001" min="0" class="form-control" name="{{ feature }}" required>
            </div>            <div class="col-md-6">
                <label class="form-label">Concave Points Worst</label>
                <input type="number" step="0.0001" min="0" class="form-control" name="{{ feature }}" required>
            </div>            <div class="col-md-6">
                <label class="form-label">Concavity Mean</label>
                <input type="number" step="0.0001" min="0" class="form-control" name="{{ feature }}" required>
            </div>            <div class="col-md-6">
                <label class="form-label">Area Mean</label>
                <input type="number" step="0.0001" min="0" class="form-control" name="{{ feature }}" required>
            </div>            <div class="col-md-6">
                <label class="form-label">Concavity Worst</label>
                <input type="number" step="0.0001" min="0" class="form-control" name="{{ feature }}" required>
            </div>            <div class="col-md-6">
                <label class="form-label">Radius Se</label>
                <input type="number" step="0.0001" min="0" class="form-control" name="{{ feature }}" required>
            </div>            <div class="col-md-6">
                <label class="form-label">Compactness Mean</label>
                <input type="number" step="0.0001" min="0" class="form-control" name="{{ feature }}" required>
            </div>            <div class="col-md-6">
                <label class="form-label">Area Worst</label>
                <input type="number" step="0.0001" min="0" class="form-control" name="{{ feature }}" required>
            </div>            <div class="col-md-6">
                <label class="form-label">Concave Points Mean</label>
                <input type="number" step="0.0001" min="0" class="form-control" name="{{ feature }}" required>
            </div>            <div class="col-md-6">
                <label class="form-label">Perimeter Mean</label>
                <input type="number" step="0.0001" min="0" class="form-control" name="{{ feature }}" required>
            </div>            <div class="col-md-6">
                <label class="form-label">Radius Mean</label>
                <input type="number" step="0.0001" min="0" class="form-control" name="{{ feature }}" required>
            </div>            <div class="col-md-6">
                <label class="form-label">Area Se</label>
                <input type="number" step="0.0001" min="0" class="form-control" name="{{ feature }}" required>
            </div>            <div class="col-md-6">
                <label class="form-label">Perimeter Se</label>
                <input type="number" step="0.0001" min="0" class="form-control" name="{{ feature }}" required>
            </div>            <div class="col-md-6">
                <label class="form-label">Compactness Worst</label>
                <input type="number" step="0.0001" min="0" class="form-control" name="{{ feature }}" required>
            </div>        
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary mt-3">🔍 Prediksi</button>
        </div>        
    </form>

    <h2 class="mt-5 text-center">📋 Hasil Prediksi</h2>
    <table class="table table-bordered text-center" id="prediksi-kp">
        <thead class="table-info">
            <tr>
                <th>Fitur</th>
                <th>Nilai Input</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    
    <h3 class="text-center mt-3">🩺 Diagnosis: 
        <strong>M (Malignant)</strong> 
        <span class="badge bg-info text-dark">Akurasi Best Model SVM: 98%</span>
    </h3>
    <script src="../../static/js/script_kp.js"></script>
</body>
</html>
