<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_ph.css') }}">
    
    <title>Dashboard</title>
    <div class="navigation">
        <a href="/">🏠 Kembali Ke Portofolio</a>
        <a href="/index_ph">Beranda</a>
        <a href="/diagnosis_ph">Diagnosis Penyakit</a>
        <a href="/data_ph">Basis Pengetahuan</a>
    </div>
</head>
<body>
    <h1>Selamat Datang di Aplikasi Diagnosis Penyakit Tumbuhan Hortikultura</h1>

</body>
</html>
