<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selamat Datang</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/style_anemia.css">
</head>
<body>
    <div class="container mt-5">
        <!-- Hamburger Menu -->
        <button id="hamburger">&#9776;</button>

        <nav class="navigation">
            <a href="../../index.html">🏠 Kembali Ke Portofolio</a>
            <a href="index_anemia.html">🏠 Beranda</a>
            <a href="prediksi_anemia.html">📊 Prediksi Anemia</a>
            <a href="informasi_anemia.html">📊 Informasi Model</a>
        </nav>

        <h1 class="mt-5">Selamat Datang di Sistem Klasifikasi Anemia</h1>
        <p class="lead">Analisis data Anemia menggunakan algoritma Logistic Regression.</p>
        
    </div>
    <script src="../../static/js/script_anemia.js"></script>
</body>
</html>
